@model List<ASPComplete.Models.Movie>
@{
    ViewBag.Title = "MovieList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MovieList</h2>

<input type="button" value="New Movie" onclick="@("window.location.href='" + @Url.Action("NewMovie", "Movies") + "'");" class="btn btn-default" />

<table class="table table-bordered table-hover" id="movies">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>

        @*@foreach (var movie in Model)
            {
            <tr>
                <td>
                    <a href="@Url.Action("Edit","Movies",new { @movie.Id })">@movie.Name</a>
                </td>
                <td>
                   @movie.Genere.Genre
                </td>
            </tr>

                }*@
    </tbody>

</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#movies").DataTable({
                ajax: {
                    url: "/Api/Movie/",
                    dataSrc: ""
                },
                columns: [
                     {
                         data: "name",
                         render: function (data, type, movie) {
                             return "<a href='/Movies/Edit/" + movie.id + "'>" + movie.name + "</a>";
                         }
                     },
                     {
                         data: "genere.genre"
                     },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-Delete' data-movie-id=" + data + ">Delete</button>";
                        }
                    }
                ]

            })
        })








    </script>

}